*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    /* background-color: antiquewhite; */
    background-color: #DDC3C3;
}



#game{
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 25vh;
    left: 70vh;
    background-color:#A376A2;
    border:  5px inset rgb(143, 142, 142);
    /* background-color: rgb(203, 202, 216);
    border: 2px outset rgb(143, 142, 142); */
    height: 500px;
    width: 500px;
   display: flex;
   flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:20px
}

button{
    border: inset;
    background-color :#8D5F8C;
    /* background-color: rgb(34, 216, 155); */
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

input{
    background-color:#6B3F69;
    padding: 5px;
    border: inset;
    color:#DDC3C3;
    height: 20px;
    width: 22px;
}

